# fawas's notebook

### while loops

while *condition*
    *loop body*
end

In [1]:
n = 0
while n<10
    n += 1
    println(n)
end

1
2
3
4
5
6
7
8
9
10

In [2]:
n

10

In [8]:
myfriends = ["Ted", "Robyn", "Barney", "Lily", "Marshall"]

5-element Vector{String}:
 "Ted"
 "Robyn"
 "Barney"
 "Lily"
 "Marshall"

In [10]:
i = 1
while i <= length(myfriends)
    friend = myfriends[i]
    println("$friend")
    i += 1
end

Ted
Robyn
Barney
Lily
Marshall

### for loops

for *var* in *loop iterable*
    *loop body*
end

In [11]:
for n in 1:10
    println(n)
end

1
2
3
4
5
6
7
8
9
10

In [12]:
for friend in myfriends
    println("$friend")
end

Ted
Robyn
Barney
Lily
Marshall

Now let's use for loops to create some addition tables, where the value of every entry is the sum of its row and column indices.

In [13]:
m,n = 5,5

(5, 5)

In [14]:
A = fill(0,(m,n))

5×5 Matrix{Int64}:
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0

In [15]:
for j in 1:n
    for i in 1:m
        A[i,j] = i+j
    end
end

In [16]:
A

5×5 Matrix{Int64}:
 2  3  4  5   6
 3  4  5  6   7
 4  5  6  7   8
 5  6  7  8   9
 6  7  8  9  10

Here's some syntactic sugar for the same nested for loop

In [17]:
B = fill(0, (m, n))

5×5 Matrix{Int64}:
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0

In [18]:
for j in 1:n, i in 1:m
    B[i,j] = i+j
end
B

5×5 Matrix{Int64}:
 2  3  4  5   6
 3  4  5  6   7
 4  5  6  7   8
 5  6  7  8   9
 6  7  8  9  10

The more "Julia" way to create this addition table would have been with an array comprehension.

In [19]:
C = [i + j for i in 1:m, j in 1:n]

5×5 Matrix{Int64}:
 2  3  4  5   6
 3  4  5  6   7
 4  5  6  7   8
 5  6  7  8   9
 6  7  8  9  10

Loop over integers between 1 and 100 and print their squares.

In [35]:
squares = Dict()

Dict{Any, Any}()

In [38]:
for i in 1:100
    println(i)
    println(i^2)
    squares[i] = i ^2
end

1
1
2
4
3
9
4
16
5
25
6
36
7
49
8
64
9
81
10
100
11
121
12
144
13
169
14
196
15
225
16
256
17
289
18
324
19
361
20
400
21
441
22
484
23
529
24
576
25
625
26
676
27
729
28
784
29
841
30
900
31
961
32
1024
33
1089
34
1156
35
1225
36
1296
37
1369
38
1444
39
1521
40
1600
41
1681
42
1764
43
1849
44
1936
45
2025
46
2116
47
2209
48
2304
49
2401
50
2500
51
2601
52
2704
53
2809
54
2916
55
3025
56
3136
57
3249
58
3364
59
3481
60
3600
61
3721
62
3844
63
3969
64
4096
65
4225
66
4356
67
4489
68
4624
69
4761
70
4900
71
5041
72
5184
73
5329
74
5476
75
5625
76
5776
77
5929
78
6084
79
6241
80
6400
81
6561
82
6724
83
6889
84
7056
85
7225
86
7396
87
7569
88
7744
89
7921
90
8100
91
8281
92
8464
93
8649
94
8836
95
9025
96
9216
97
9409
98
9604
99
9801
100
10000