# mohamed fawas's notebook

### How to get a string

In [1]:
s1 = "I am a string."

"I am a string."

In [2]:
s2 = """I am also a string. """

"I am also a string. "

In [3]:
"Here, we get an "error" because it's ambiguous where this string ends "

LoadError: syntax: cannot juxtapose string literal

In [4]:
"""Look, Mom, no "errors"!!! """

"Look, Mom, no \"errors\"!!! "

Note that ' ' define a character, but NOT a string!

In [5]:
typeof('a')

Char

In [7]:
'We will get an error here'

LoadError: syntax: character literal contains multiple characters

### String interpolation

We can use the $ sign to insert existing variables into a string and to evaluate expressions within a string.

In [8]:
name = "Jane"
num_fingers = 10
num_toes = 10

10

In [9]:
println("Hello, my name is $name.")

Hello, my name is Jane.

In [10]:
println("I have $num_fingers fingers and $num_toes toes.")

I have 10 fingers and 10 toes.

In [11]:
println("That is $(num_fingers + num_toes) digits in all!!")

That is 20 digits in all!!

### String concatenation

In [12]:
s3 = "How many cats ";
s4 = "is too many cats?";
ðŸ˜º = 10

10

In [13]:
string(s3, s4)

"How many cats is too many cats?"

In [14]:
string("I don't know, but ", ðŸ˜º, " is too few.")

"I don't know, but 10 is too few."

We can also use * for concatenation!

In [15]:
s3*s4

"How many cats is too many cats?"

### Exercise

Create a string that says "hi" 1000 times, first with repeat and then with the exponentiation operator, which can call * under the hood. Assign it the variable hi below.

In [16]:
hi = "hi"

"hi"

In [20]:
repeat(hi,1000)

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi" â‹¯ 1460 bytes â‹¯ "hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [19]:
hi ^ 1000

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi" â‹¯ 1460 bytes â‹¯ "hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [21]:
hi = repeat(hi,1000)

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi" â‹¯ 1460 bytes â‹¯ "hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

Declare two variables

In [22]:
a = 3

b = 4

4

and use them to create two strings:

"3 + 4"

"7"

and store the results in c and d respectively

In [28]:
string("$a + $b")

"3 + 4"

In [29]:
string("$(a + b)")

"7"